/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
/* Anim background */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  background-color:transparent ;
}
/* descp anim */
/* ========== ANIMATION SLIDE-IN GAUCHE ========== */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
  margin-top: 30px;
  
}

/* ========== GRADIENT TEXT ANIMÉ ========== */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(270deg, #1e90ff, #110f79,rgb(117, 168, 235));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 6s ease infinite;
  font-weight: 500;
  font-size: 1.2rem;
  /* text-shadow:7px 4px 9px #7ba6ea; */
}




/* popup title */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-up {
  animation: popIn 0.6s ease forwards;
}
/* ======================== social media icons============================== */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  padding: 0.5rem;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: 100%;
  right: 110%;
  transform: translateY(200%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
  white-space: nowrap;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(6, 39, 69); /* couleur de base */
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  color: white; /* couleur au hover */
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}



.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  transition: color 0.3s ease-in-out;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  z-index: 0;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #1877f2;
}

/* Positionnement à droite du contenu */
.media-icons {
  position: absolute;
  right: 20px;
  top: 260px; /* Ajuste selon la hauteur souhaitée */
  z-index: 999;
  display: flex;
  flex-direction: column;
}
/* =====button back====== */

.subscribe-btn {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border: none;
  background: none;
  cursor: pointer;

  --primary-color: #072b62;
  --hovered-color: #c84747;

  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.subscribe-btn p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.subscribe-btn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.subscribe-btn p::before {
  position: absolute;
  content: "Retour";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.subscribe-btn:hover::after {
  width: 100%;
}

.subscribe-btn:hover p::before {
  width: 100%;
}

.subscribe-btn:hover svg {
  transform: translateX(-4px);
  color: var(--hovered-color);
}

.subscribe-btn svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 18px;
  transition-delay: 0.2s;
}

/* Inverser la direction (svg à gauche du texte) */
.subscribe-btn.reverse {
  flex-direction: row-reverse;
}

.subscribe-btn.reverse:hover svg {
  transform: translateX(4px);
}
/* ========== footer=========== */

